.sec-socials {
  margin-top: 3vh;
}

.youtube {
  display: flex;
  margin-top: 4rem;
  padding-right: 2rem;
  /* align-items: center; */
}

.youtube1 {
  max-width: 50px;
  height: 100px;
  padding-bottom: 25rem;
  padding-left: 13vw;
}

.youtube2 {
  max-width: 50px;
  height: 100px;
  padding-left: 32rem;
  padding-bottom: 25rem;
}

.iframetag {
  border-radius: 10px;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  margin: 30px;
  margin-top: -20vh;
  padding-bottom: 2rem;
}

.linkedin1 {
  padding-top: 0rem;
  width: 33%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5vw;
  margin-right: 2vw;
  
}
.social-text{
  color: white;
    text-align: center;
    padding-bottom: .5rem;
    font-weight: 10px;
    padding-top: 3vh;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
}
.linkedin2 {
  padding-top: 0rem;
  width: 33%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.twitter {
  padding-top: 0.5rem;
  position: static;
  visibility: visible;
  width: 30%;
  height: 340px;
  display: block;
  flex-grow: 1;
  padding-right: 4rem;
  margin-right: 1vw;
}


/* .om {
  padding-top: 1rem;
  border-radius: 5rem;
  padding-right: 60rem;
} */

@media only screen and (max-width: 723px) {
  h1 {
    /* padding-top: 3rem; */
    padding-bottom: 3rem;
    padding-left: 2rem;
    margin-left: 3vw;
  }

  .sec-socials {
    padding-bottom: 3rem;
    align-items: center;
    margin-top: -2vh;
  }

  .sec-socials .youtube {
    flex-direction: column;
    padding-left: 2rem;
  }

  .youtube1 {
    padding-bottom: 15rem;
    padding-left: 0;
  }

  .youtube2 {
    padding-left: 0rem;
  }

  .youtube1 .iframetag {
    width: 320px;
  }

  .youtube2 .iframetag {
    width: 320px;
  }

  .socialmedia {
    flex-direction: column;
    margin-top: -15vh;
  }
  .linkedin1 .iframetag {
    width: 300px;
    padding-right: 5rem;
    margin-left: -5vw;
    margin-top: -5vh;
    border-radius: 0;
    padding-bottom: 1rem;
  }

  .twitter .twitter-tweet {
    width: 300px;
    padding-right: 5rem;
    margin-left: -29vw;
    /* margin-top: -5vh; */
    border-radius: 0;
  }

  .linkedin2 {
    padding-bottom: 2rem;
    margin-left: 5vw;
    width: 20%;
  }

  .twitter {
    padding-bottom: 4rem;
  }
  .linkedin2 .iframetag {
    width: 300px;
    padding-right: 5rem;
    margin-left: -3vw;
    border-radius: 0;
  }
}


:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.social-card{
  border-radius: 20px; /*1*/
  border: 8px solid transparent; /*2*/
  background: linear-gradient(45deg,rgb(255, 171, 15),#6F38C5) border-box; /*3*/
  
  
}

.t-social-card{
  border-radius: 20px; /*1*/
  border: 5px solid transparent; /*2*/
  background: linear-gradient(45deg,rgb(255, 171, 15),#ce65ff) border-box; /*3*/
  
}
@media (max-width: 730px){

  .iframetag{
    padding-right: vw;
  }
 
  
  .linkedin1{
    display: none;
  }

  .linkedin2{
    
    border-radius: 20px;
  }


}






